<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://kuhlin-cosmosdb.documents.azure.com:443/" />
        <add key="accountKey" value="AryKonJHltvwqNOIb7h6jcOwPu0k2RxvLnhBomMaVpL6W9Gbm5UTK2yK17nO1WwVWIH6D95iNaUEVCa2J1aYzw==" />
      </appSettings>
</configuration>