################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HelloMVC/.vs/HelloMVC/v15/Server/sqlite3
